# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Entornos
.venv/
venv/
.env

# Datos y modelos (versionados con DVC)
data/raw/*
!data/raw/.gitkeep
!data/raw/renfe_sample.csv       # solo el sample de ejemplo va en Git
data/processed/*
!data/processed/.gitkeep
models/*.pkl
models/*.joblib

# MLflow tracking local
mlruns/
mlartifacts/

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# DVC
/data/*.dvc.local
